<nav class="navbar navbar-expand-lg">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('app_home')}}">ToDo&Co</a>
        </div>
        {% if app.user %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <img src="{{ asset('img/default.png') }}" class="avatar img-fluid rounded d-none d-lg-block" alt="">
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
                            <span class="username">{{ app.user.username }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item logout-link" href="{{ path('logout') }}">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        {% else %}
            {% if app.request.attributes.get('_route') not in ['login','registration'] %}
                <div class="ms-auto">
                    <a class="btn btn-signin me-3" href="{{ path('login') }}">Sign In</a>
                    <a class="btn btn-custom me-2" href="{{ path('registration') }}">Sign Up</a>        
                </div>
            {% endif %}
        {% endif %}
    </div>
</nav>
