{% extends 'base_other.html.twig' %}

{% block title %}Tasks Edit{% endblock %}

{% block content %}
	<div class="mb-3">
		<h2 class="table-title">Edit Task</h2>
	</div>
	<div class="row form-background">
		{{ form_start(form, {'action' : path('task_edit', { 'id' : task.id })}) }}
		{{ form_label(form.title) }}
		{{ form_widget(form.title) }}
		<span class="text-error">{{ form_errors(form.title) }}</span>

		{{ form_label(form.content) }}
		{{ form_widget(form.content) }}
		<span class="text-error">{{ form_errors(form.content) }}</span>

		<div class="mt-4">
			{{ form_label(form.isDone) }}
			{{ form_widget(form.isDone) }}
			<span class="text-error">{{ form_errors(form.isDone) }}</span>
		</div>

		<p class="mt-4 custom-label-color">
			<span class="fw-bold">Last modification :</span>
			{% if task.updatedAt is not null %}
				{{ task.updatedAt|date('d/m/Y H:i') }}
			{% else %}
				{{ task.createdAt|date('d/m/Y H:i') }}
			{% endif %}
		</p>

		<div class="form-button d-flex justify-content-end">
			<button type="submit" class="btn btn-custom mt-4">Submit</button>
		</div>
		{{ form_end(form) }}
	</div>
	<hr>
{% endblock %}